/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin);

body {
    background: url("../img/main_bg.jpg") repeat-y scroll center top rgba(0, 0, 0, 0);
    color: #5f5f5f;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    min-height: 100%;
}
.wrapper{
    width: 900px;
    margin: 0 auto;
    padding-left: 17px;
    width: 917px;
}
header{
    width: 100%;
    position: relative;
}
header .logo a{
    display: block;
    width: 450px;
    height: 130px;
    background-image: url("../img/logo.png");
    position: absolute;
    top: 20px;
    left: 6px;
}
header .top-menu-block{
    height: 40px;
    left: 142px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 20px;
    z-index: 10;
}
header ul.top-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}
header ul.top-menu li{
    display: inline-block;
    background: url("../img/kn_top_bg.png") no-repeat scroll 0 10px rgba(0, 0, 0, 0);
    height: 40px;
    margin: 0;
    padding: 0;
}
header ul.top-menu li:first-child{
    background: none;
}
header ul.top-menu li a.item{
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
    color: #474747;
    font-family: Tahoma,Verdana,Helvetica,sans-serif;
    line-height: 36px;
}
header .phone-block{
    padding-top: 83px;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 10px;
}

#click_submit_doctor {
    background: linear-gradient(to right, #deb772 0%, #faefaf 50%, #deb772 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    color: #a57d37;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: 22px;
    line-height: 22px;
    padding: 0 15px;
    text-decoration: none;
    margin-right: 60px;
    float: right;
}
#click_submit_doctor:hover{
    opacity: 0.9;
}
header ul.main-menu{
    padding: 0;
    margin: 0;
}
header ul.main-menu li{
    height: 30px;
    margin: 0;
    padding-right: 0;
    width: 147px;
    display: inline-block;
    background: url("../img/knop_sect_select.png") repeat-y scroll 0 0 #fff;
}
header ul.main-menu li:hover{
    background: none repeat scroll 0 0 transparent;
}
header ul.main-menu li:hover a.item{
    background: url("../img/knop_sect.png") repeat-y scroll 0 0 rgba(0, 0, 0, 0);
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-decoration: underline;
    width: 147px;
}
header ul.main-menu li a.item{
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    color: #4f4f4f;
    font-size: 14px;
}
header ul.main-menu li ul{
    background: url("../img/m_bg_big.png") repeat-y scroll 0 0 #fff;
    border: medium none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.6);
    display: none;
    height: auto;
    margin-left: 1px;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    top: auto;
    width: 272px;
    z-index: 500;
}
header ul.main-menu li:hover ul{
    display:block;
}
header ul.main-menu li ul li{
    background: url("../img/m_bg_big.png") repeat-y scroll 0 0 #fff;
    display: inline-block;
    width: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
header ul.main-menu li ul li a{
    padding-left: 20px;
    font-size: 14px;
    color: #4f4f4f;
}
.seaerch-btn{
    background: url("../img/poisk.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    height: 20px;
    line-height: 16px;
    text-shadow: 1px 1px 1px #d7a969;
    width: 70px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.input-search{
    border: 1px solid #d7a969;
    color: #000;
    width: 70%;
}
.phone-block p{
    font-size: 14px;
    color: #62350e;
    margin: 0;
}
.phone-block p span.grey{
    color: #e1d8d1;
}
.phone-block p span.tel{
    color: #a1816a;
}
.phone-block p a.clock{
    background: url("../img/clock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 11px;
    width: 11px;
}
.phone-block p a.clock:hover{
    background-position: 0 -50px;
}
.phone-block .last .adress{
    width: 130px;
    float: right;
    padding-right: 3px;
}
.phone-block .last .telephone{
    float: right;
}
.phone-block span.hotel{
    color: #a1816a;
    font-size: 12px;
}
h1{
    font-family: 'Lobster', cursive;
    color: #0186c7;
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid #ddb470;
    padding-bottom: 10px;
    margin-top: 5px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #5f5f5f;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
}
.first-block{
    padding: 20px 0 10px;
}
.block-title{
    padding:5px 30px;
    background: rgb(245,236,223); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZWNkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2ZjZjVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZkZjhlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2Y4ZWVkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWRjYzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(245,236,223,1) 0%, rgba(252,245,222,1) 26%, rgba(253,248,226,1) 50%, rgba(248,238,214,1) 80%, rgba(238,220,194,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,236,223,1)), color-stop(26%,rgba(252,245,222,1)), color-stop(50%,rgba(253,248,226,1)), color-stop(80%,rgba(248,238,214,1)), color-stop(100%,rgba(238,220,194,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ecdf', endColorstr='#eedcc2',GradientType=0 ); /* IE6-8 */

}
.first-block .content-block{
    background-color: #fbf4dd;
    background-image: url("../img/bg-first-block.png");
    background-size: 100% 100%;
}
.first-block .content-block .main{
    padding: 30px;
    background-image: url("../img/women.png");
    background-position: right center;
    background-repeat: no-repeat;
}
.first-block .content-block .main .text{
    padding: 5px 0;
}
.first-block .content-block .main .text .big{
    font-size: 72px;
    float: left;
    color:#2a9316;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 15px;
    line-height: 72px;
}
.first-block .content-block .main .text p{
    font-size: 22px;
    color:#383838;
    font-family: Arial, Helvetica, sans-serif;
}
.first-block .content-block .main .text p span{
    border-bottom: 1px solid #2a9316;
}
.first-block .content-block .main h4{
    font-size: 24px;
    color:#00a8fa;
    text-align: center;
    padding-top: 60px;
}
.btn-subscribe{
    border:0;
    border-radius: 8px;
    background: none;
    background: rgb(122,220,84); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdhZGM1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NmI1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(122,220,84,1) 0%, rgba(86,181,57,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(122,220,84,1)), color-stop(100%,rgba(86,181,57,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(122,220,84,1) 0%,rgba(86,181,57,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(122,220,84,1) 0%,rgba(86,181,57,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(122,220,84,1) 0%,rgba(86,181,57,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(122,220,84,1) 0%,rgba(86,181,57,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7adc54', endColorstr='#56b539',GradientType=0 ); /* IE6-8 */
    padding: 15px 40px;
    color: #fff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid #69bd52;
    border-bottom: 1px solid  #2d711e;
}
.btn-subscribe:hover{
    background: rgb(21,125,46); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1N2QyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYjk2NWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(21,125,46,1) 0%, rgba(43,150,90,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(21,125,46,1)), color-stop(100%,rgba(43,150,90,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(21,125,46,1) 0%,rgba(43,150,90,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(21,125,46,1) 0%,rgba(43,150,90,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(21,125,46,1) 0%,rgba(43,150,90,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(21,125,46,1) 0%,rgba(43,150,90,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#157d2e', endColorstr='#2b965a',GradientType=1 ); /* IE6-8 */
}
.button-side{
    padding: 20px;
    text-align: center;
    background-image: url("../img/button-shadow.png");
    background-position: center 50px;
    background-repeat: no-repeat;
}
.second-block{
    padding: 10px 30px;
}
.second-block .content-block{
    padding: 10px;
    background: rgb(219,175,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYWY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZWVhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWI2NzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(219,175,109,1) 0%, rgba(238,211,144,1) 26%, rgba(251,238,175,1) 50%, rgba(238,211,144,1) 80%, rgba(222,182,112,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,175,109,1)), color-stop(26%,rgba(238,211,144,1)), color-stop(50%,rgba(251,238,175,1)), color-stop(80%,rgba(238,211,144,1)), color-stop(100%,rgba(222,182,112,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbaf6d', endColorstr='#deb670',GradientType=1 ); /* IE6-8 */
}
.second-block .content-block .main{
    background-image: url("../img/bg-second-block.png");
}
.second-block .content-block .main h3{
    color: #0186c7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 12px;
}
.list-second{
    padding: 0;
    padding-left: 30px;
    list-style: none;
}
.list-second li span{
    border-bottom: 1px solid #2a9316;
}
.list-second li span.checked{
    background-image: url("../img/list-check.png");
    background-position: center center;
    padding: 10px;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 100%;
    border: 0;
}
.list-second li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.text-block .text-side p{
    padding-top: 25px;
    font-size: 15px;
    color: #0e0d0d;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px dashed #000;
    font-family: Arial, Helvetica, sans-serif;
}
.text-block .text-side h4{
    font-size: 26px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0186c7;
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.text-block{
    background-image: url("../img/women2.png");
    background-position: left center;
    background-repeat:  no-repeat;
}
.second-block.gift .main{
    position: relative;
    background: none;
    background-color: #fce1a9;
    padding: 15px;
}
.second-block.gift .gift-img{
    background-image: url("../img/gift.png");
    background-repeat: no-repeat;
    width: 207px;
    height: 157px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.second-block.gift h1{
    text-align: left;
    border: 0;
}
.second-block.gift p{
    color:#000;
    font-size: 15px;
    padding-right: 220px;
}
.second-block.gift p span{
    color:#0186c7;
    text-transform: uppercase;
}
.block-pachet{
    border:1px solid #f3e3cc;
    margin-bottom: 15px;
}
.block-pachet .header{
    background: rgb(245,236,223); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1ZWNkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2ZjZjVkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZkZjhlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2Y4ZWVkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWRjYzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(245,236,223,1) 0%, rgba(252,245,222,1) 26%, rgba(253,248,226,1) 50%, rgba(248,238,214,1) 80%, rgba(238,220,194,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,236,223,1)), color-stop(26%,rgba(252,245,222,1)), color-stop(50%,rgba(253,248,226,1)), color-stop(80%,rgba(248,238,214,1)), color-stop(100%,rgba(238,220,194,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(245,236,223,1) 0%,rgba(252,245,222,1) 26%,rgba(253,248,226,1) 50%,rgba(248,238,214,1) 80%,rgba(238,220,194,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5ecdf', endColorstr='#eedcc2',GradientType=0 ); /* IE6-8 */
}
.block-pachet .header .gift-pachet{
    width: 30%;
    height: 72px;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
}
.block-pachet .header .gift-pachet.gif1{
    background-image: url("../img/gif1.png");
}
.block-pachet .header .gift-pachet.gif2{
    background-image: url("../img/gif2.png");
}
.block-pachet .header .gift-pachet.gif3{
    width: 40%;
    background-image: url("../img/gif3.png");
}
.block-pachet .header .gift-pachet.gif4{
    width: 40%;
    background-image: url("../img/gif4.png");
}
.block-pachet .header .type-pachet{
    width: 70%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    height: 72px;
}
.block-pachet .header .type-pachet.universal{
    background-image: url("../img/universal.png");
}
.block-pachet .header .type-pachet.result{
    background-image: url("../img/result.png");
}
.block-pachet .header .type-pachet.type3{
    width: 60%;
    background-image: url("../img/type3.png");
}
.block-pachet .header .type-pachet.type4{
    width: 60%;
    background-image: url("../img/type4.png");
}
.block-pachet .body{
    padding: 10px;
    background-color: #fbf4dd;
    position: relative;
    height: 530px;
}
.block-pachet .body table,
.pachet-content table
{
    width: 100%;
    border: 1px solid #deb771;
}
.block-pachet .body table th,
.pachet-content table th
{
    border: 1px solid #deb771;
    color:#0186c7;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.block-pachet .body table td:last-child,
.pachet-content table td:last-child
{
    border-left: 1px solid #deb771;
    white-space: nowrap;
    color: #6e6e6e;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: line-through;
    padding: 5px;
}
.block-pachet .body table td:first-child,
.pachet-content table td:first-child
{
    background-image: url("../img/list-check.png");
    background-position: 10px 10px;
    padding: 10px;
    padding-left: 35px;
    background-repeat: no-repeat;
    color: #000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.block-pachet .body p.price,
.pachet-content p.price
{
    font-size: 31px;
    text-align: center;
    color: #f3b41b;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.block-pachet .body h4,
.pachet-content h4
{
    font-size: 18px;
    text-align: center;
    color: #008bcf;
    font-family: Arial, Helvetica, sans-serif;
}
.block-pachet .body p.more a{
    font-size: 15px;
    color: #008bcf;
    border-bottom: 1px dotted #008bcf;
    font-family: Arial, Helvetica, sans-serif;
}
.block-pachet .body p.more{
    text-align: center;
    position: absolute;
    bottom: 5px;
    width: 100%;
}
.block-pachet .body p.old-price,
.pachet-content p.old-price
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #278714;
    font-size: 30px;
}
.block-pachet .body p.old-price span,
.pachet-content p.old-price span
{
    font-weight: normal;
    text-decoration: line-through;
    color: #6e6e6e;
    padding-right: 10px;
    font-size: 15px;
}
.button-side.gift-block .btn-subscribe{
    padding: 5px 20px;
}
.button-side.gift-block .shadow{
    background-image: url("../img/small-shadow.png");
    background-position: right 17px;
    background-repeat: no-repeat;
    width: 260px;
    height: 50px;
    margin: 0 auto;
    text-align: left;
    font-size: 14px;
    color:#008bcf;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.button-side.gift-block .shadow button{
    float: right;
    line-height: 100%;
    margin-right: 25px;
}
.button-side.gift-block{
    background: none;
}
.second-block.comand .content-block{
    background: none;
    background-color: #fdf8e2;
}
.comand-form {
    padding-top: 20px;
}
.comand-form input{
    width: 95%;
    border-radius: 0;
    border:1px solid #f2eabc;
    border-top:1px solid #bcbcbc;
    border-left:1px solid #bcbcbc;
    height: 25px;
}
.comand-form label{
    color: #72643f;
    font-size: 12px;
    font-weight: normal;
}
.block-clock{
    border-radius: 10px;
    border:1px dashed #43bdf4;
    padding: 20px;
    margin: 15px 0 0 15px;;
}
.block-clock p{
    color:#0186c7;
    font-size: 15px;
    text-align: center;
}
.timer{
    width: 160px;
    margin: 0 auto;
}
.timer .count{
    width: 45px;
    height: 50px;
    background-image: url("../img/bg-clock.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgba(255,255,255,0.65);
    font-size: 34px;
    text-align: center;
    line-height: 50px;
}
.timer .days, .hour, .min{
    float: left;
}
.timer span{
    font-size: 14px;
    color: #6f4d2a;
    text-align: center;
    width: 100%;
    display: block;
}
.timer .pts{
    float: left;
    display: block;
    height: 50px;
    width: 12px;
    color: #526429;
    font-size: 34px;
    text-align: center;
    line-height: 50px;
}
p.query{
    text-align: center;
    font-weight: bold;
    color: #6f4d2a;
    font-size: 16px;
    padding-top: 15px;
}
p.num{
    text-align: center;
    font-weight: normal;
    color: #6f4d2a;
    font-size: 16px;
}
p.num span{
    font-weight: bold;
    color: #0186c7;
}
.btn-subscribe.form-btn{
    padding: 8px 20px;
}
.button-side.form-btn{
    background-image: url("../img/small-shadow.png");
    background-position: center 47px;
}
.button-side.form-btn.consultation{
    background-image: url("../img/block-shadow.png");
    background-position: center 44px;
}
.block-user{
    background-color: #fdf8e2;
    padding: 10px;
    margin-bottom: 30px;
    min-height: 350px;
}
.block-user .image-block{
    width: 151px;
    height: 151px;
    float: left;
    padding: 7px;
    margin-right: 15px;
    border-radius: 151px;
    background: rgb(219,175,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYWY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZWVhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWI2NzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(219,175,109,1) 0%, rgba(238,211,144,1) 26%, rgba(251,238,175,1) 50%, rgba(238,211,144,1) 80%, rgba(222,182,112,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,175,109,1)), color-stop(26%,rgba(238,211,144,1)), color-stop(50%,rgba(251,238,175,1)), color-stop(80%,rgba(238,211,144,1)), color-stop(100%,rgba(222,182,112,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbaf6d', endColorstr='#deb670',GradientType=1 ); /* IE6-8 */

}
.block-user p{
    color: #5f5f5f;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.block-user p.blue{
    color: #0186c7;
}
.block-user p a{
    color: #0186c7;
    border-bottom: 1px dashed #0186c7;
}
.block-user p a:hover{
    text-decoration: none;
    border-bottom: 0px dashed #0186c7;
}
.list-block{
    background-color: #fdf7e9;
}
ul.description-list{
    list-style: none;
    padding-top: 20px;
}
ul.description-list li {
    padding: 3px 0;
}
ul.description-list li a{
    font-size: 18px;
    color:#0186c7;
    border-bottom: 1px dashed #0186c7;
    font-family: Arial, Helvetica, sans-serif;
}
ul.description-list li a:hover{
    text-decoration: none;
    border: 0;
}
.list-item{
    background-color: #fdf8e2;
    padding: 15px;
    background-image: url("../img/flow.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    position: relative;
}
.list-item p{
    font-size: 15px;
    color: #5f5f5f;
    font-family: Arial, Helvetica, sans-serif;
}
.list-item p.title a{
    color: #008bcf;
    font-size: 18px;
    text-decoration: underline;
}
.list-item p.title{
    text-align: center;
}
.list-item .image-block{
    width: 386px;
    float:left;
    margin-right: 15px;
    padding: 10px;
    position: relative;
    background: rgb(219,175,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYWY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZWVhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWI2NzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(219,175,109,1) 0%, rgba(238,211,144,1) 26%, rgba(251,238,175,1) 50%, rgba(238,211,144,1) 80%, rgba(222,182,112,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,175,109,1)), color-stop(26%,rgba(238,211,144,1)), color-stop(50%,rgba(251,238,175,1)), color-stop(80%,rgba(238,211,144,1)), color-stop(100%,rgba(222,182,112,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbaf6d', endColorstr='#deb670',GradientType=1 ); /* IE6-8 */
}
.back-to{
    position: absolute;
    bottom: 45px;
    right: 20px;
    color: #0186c7;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px dashed #0186c7;
}
.back-to:hover{
    text-decoration: none;
    border:0;
}
.image-block .play{
    position: absolute;
    display: block;
    width: 78px;
    height: 79px;
    background-image: url("../img/play.png");
    background-repeat: no-repeat;
    background-position: center center;
    top: 50%;
    left: 50%;
    margin-top: -39px;
    margin-left: -40px;
}
.image-block .play:hover{
    background-image: url("../img/play-hover.png");
}
h1.slogan{
    border: 0;
    color:#0186c7;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    height: 207px;
    -webkit-margin-left: -51px;
    -moz-margin-left: -50px;
    margin-left: -34px;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-position: center center;
}
.modal-pachet{
    width: 700px;
    padding: 10px;
    background: rgb(219,175,109); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiYWY2ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI2JSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZiZWVhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iI2VlZDM5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWI2NzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(219,175,109,1) 0%, rgba(238,211,144,1) 26%, rgba(251,238,175,1) 50%, rgba(238,211,144,1) 80%, rgba(222,182,112,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(219,175,109,1)), color-stop(26%,rgba(238,211,144,1)), color-stop(50%,rgba(251,238,175,1)), color-stop(80%,rgba(238,211,144,1)), color-stop(100%,rgba(222,182,112,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(219,175,109,1) 0%,rgba(238,211,144,1) 26%,rgba(251,238,175,1) 50%,rgba(238,211,144,1) 80%,rgba(222,182,112,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbaf6d', endColorstr='#deb670',GradientType=1 ); /* IE6-8 */
}
.pachet-content{
    background-color: #fff;
    padding: 20px;
}
.pachet-content table.vizit{
    border: 0;
    margin: 20px 0;
}
.pachet-content table.vizit th{
    border: 0;
    border-bottom: 1px dashed #0186c7;
    text-align: center;
    font-size: 16px;
    color: #017ac7;
    font-weight: normal;
}
.pachet-content table.vizit tr:nth-child(odd) {
    background-color: #f4f4f4;
}
.pachet-content table.vizit tr td {
    padding: 10px;
    background: none;
    border: 0;
    text-decoration: none;
    font-size: 15px;
    color: #5f5f5f;
    white-space: normal;
}
.pachet-content table.vizit tr td a {
    font-size: 15px;
    color: #5f5f5f;

}
.pachet-content table.vizit tr td a:hover{
    text-decoration: none;
    color: #017ac7;
}
.inner-price{
    height: 60px;
    width: 120px;
    margin-left: 170px;
    font-size: 15px;
    float: left;
}
.pachet-content .inner-price p{
    margin: 0;
    font-size: 25px;
}
span.price{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #278714;
    font-size: 30px;
    line-height: 60px;
}
button.close{
    color: #000;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    right: 20px;
    top: 15px;
}
.pachet-content table td.last-td{
    color:#efb016;
    text-decoration: none;
    text-align: right;
    background: none !important;
    border: 1px solid #deb771;
}